<div class="banner">
	<ul class="slides">
		<li>
			<img src="./img/Banner/2017/lent-2017.jpg">
			<div class="caption-container">
				<div class="banner-caption">
					<a href="news-article.php?id=9dba1ad4ec6585b6ba984fe05f1455b9">
						<!-- <span class="banner-heading">
							Learn More
						</span>
						<br> -->
						Learn More <i class="fa fa-chevron-circle-right"></i>
					</a>
				</div>
			</div>
	    </li>
	    <li>
			<img src="./img/Banner/2017/easter-holy-week.jpg">
			<div class="caption-container">
				<div class="banner-caption">
					<a href="news-article.php?id=582fb7caf8fc917c22f11fd0d5443c0b">
						<!-- <span class="banner-heading">
							Learn More
						</span>
						<br> -->
						Learn More <i class="fa fa-chevron-circle-right"></i>
					</a>
				</div>
			</div>
	    </li>
	    <li>
			<img src="./img/Banner/2017/open-church-tours.jpg">
			<div class="caption-container">
				<div class="banner-caption">
					<a href="news-article.php?id=89f8596cb12acc5acf413d4937a3d2ac">
						<!-- <span class="banner-heading">
							Learn More
						</span>
						<br> -->
						Learn More <i class="fa fa-chevron-circle-right"></i>
					</a>
				</div>
			</div>
	    </li>
	    <li>
			<img src="./img/Banner/2017/banner-img2.jpg">
			<div class="caption-container">
				<div class="banner-caption">
					<a href="worship.php">
						<span class="banner-heading">
							Worship
						</span>
						<br>
						Learn More <i class="fa fa-chevron-circle-right"></i>
					</a>
				</div>
			</div>
	    </li>
	    <li>
			<img src="./img/Banner/2017/banner-img23.jpg">
			<div class="caption-container">
				<div class="banner-caption">
					<a href="music.php">
						<span class="banner-heading">
							Music
						</span>
						<br>
						Learn More <i class="fa fa-chevron-circle-right"></i>
					</a>
				</div>
			</div>
	    </li>
	    <li>
			<img src="./img/Banner/2017/banner-img26.jpg">
			<div class="caption-container">
				<div class="banner-caption">
					<a href="taize-services.php">
						<span class="banner-heading">
							Taize Service
						</span>
						<br>
						Learn More <i class="fa fa-chevron-circle-right"></i>
					</a>
				</div>
			</div>
	    </li>
	</ul>
</div>