<div class="footer">
	<div class="worship-banner">
		<h2 style="text-transform:uppercase;margin-bottom:0;">Please Join us for Worship on Sundays at 11 am.</h2>
	</div>
	<div class="promo-area">
		<ul>
			<li>
				<a href="sunday-worship.php">
					<img src="./img/promo-img1.png">
					<div class="promo-caption">
						See Video of Sunday's Service
					</div>
				</a>
			</li>
			<li>
				<a href="children-youth.php">
					<img src="./img/promo-img2.png">
					<div class="promo-caption">
						Sunday School &amp; Youth Group
					</div>
				</a>
			</li>
			<li class="last-promo">
				<a href="calendar.php">
					<img src="./img/promo-img3.png">
					<div class="promo-caption">
						Calendar
					</div>
				</a>
			</li>
			<li class="last-promo">
				<a href="events.php">
					<img src="./img/promo-img4.png">
					<div class="promo-caption">
						Events
					</div>
				</a>
			</li>
		</ul>
	</div>
	<div class="footer-content">
		<div class="fake-table">
			<div class="fake-row">
				<div class="fake-cell">
					<p><span class="responsive-breaker">3415 Redpath Street</span> <span class="responsive-hider spacer">|</span> <span class="responsive-breaker">Montr&eacute;al, Qu&eacute;bec</span> <span class="responsive-hider spacer">|</span> <span class="responsive-breaker">H3G 2G2</span> <span class="responsive-hider spacer">|</span> <span class="responsive-breaker">514-842-3431</span> <span class="responsive-hider spacer">|</span> <span class="responsive-breaker">Email us at <a href="mailto:info@standrewstpaul.com">info@standrewstpaul.com</a></span></p>
				</div>
				<div class="fake-cell">
					<div class="footer-social">
						<div class="footer-icon">
							<a href="https://www.facebook.com/standrewstpaul/" target="_blank">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle-thin fa-stack-2x fa-fw"></i>
									<i class="fa fa-facebook fa-stack-1x fa-fw"></i>
								</span>
							</a>
						</div><!--
						--><div class="footer-icon">
							<a href="https://livestream.com/standrewstpaul" target="_blank">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle-thin fa-stack-2x fa-fw"></i>
									<i class="fa fa-rss fa-stack-1x fa-fw"></i>
								</span>
							</a>
						</div><!--
						--><div class="footer-icon">
							<a href="https://twitter.com/standrewstpaul" target="_blank">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle-thin fa-stack-2x fa-fw"></i>
									<i class="fa fa-twitter fa-stack-1x fa-fw"></i>
								</span>
							</a>
						</div><!--
						--><div class="footer-icon">
							<a href="https://www.instagram.com/standrewstpaul/" target="_blank">
								<span class="fa-stack fa-lg">
									<i class="fa fa-circle-thin fa-stack-2x fa-fw"></i>
									<i class="fa fa-instagram fa-stack-1x fa-fw"></i>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>