<div class="header">
	<div class="logo">
		<img src="img/logo.png" alt="The Church of St-Andrew and St-Paul Logo">
	</div>
	<div class="header-caption">
		"Leading with Care"
		<a href="leading-with-care.php">
			<i class="fa fa-info-circle info-btn" aria-hidden="true"></i>
		</a>
	</div>
	<div class="header-info">
		<a href="contact.php">
			<div class="site-btn">
				Contact Us
			</div>
		</a>
		<a href="faq.php">
			<div class="site-btn faq" style="margin-bottom:0;">
				
			</div>
		</a>
	</div>
</div>