<div class="main-navigation">
	<ul>
		<li><a href="index.php" class="nav-btn" id="home">Home</a></li>
		<li><a href="worship.php" class="nav-btn" id="worship">Worship</a></li>
		<li><a href="music.php" class="nav-btn" id="music">Music</a></li>
		<li><a href="children-youth.php" class="nav-btn" id="children">Children &amp; Youth</a></li>
		<li><a href="outreach.php" class="nav-btn" id="outreach">Outreach</a></li>
		<li><a href="events.php" class="nav-btn" id="events">Events</a></li>
		<li><a href="calendar.php" class="nav-btn" id="calendar-page">Calendar</a></li>
		<li><a href="about.php" class="nav-btn" id="about">About Us</a></li>
	</ul>
</div>