<div class="responsive-navigation" role="navigation" id="responsive-navigation">
    <ul>
    	<li><a href="index.php" class="responsive-btn" id="home-responsive">Home</a></li>
		<li><a href="worship.php" class="responsive-btn" id="worship-responsive">Worship</a></li>
		<li><a href="music.php" class="responsive-btn" id="music-responsive">Music</a></li>
		<li><a href="children-youth.php" class="responsive-btn" id="children-responsive">Children &amp; Youth</a></li>
		<li><a href="outreach.php" class="responsive-btn" id="outreach-responsive">Outreach</a></li>
		<li><a href="evemts.php" class="responsive-btn" id="events-responsive">Events</a></li>
		<li><a href="calendar.php" class="responsive-btn" id="calendar-responsive">Calendar</a></li>
		<li><a href="about.php" class="responsive-btn" id="about-responsive">About Us</a></li>
	</ul>
</div>