<script src="./js/jquery-1.10.2.js"></script>
<script src="./js/readmore.js"></script>
<script src="./js/jquery.fitvids.js"></script>
<script src="./fancyBox/jquery.fancybox.pack.js"></script>
<script src="./js/jquery.flexslider.js"></script>
<script src="./js/responsive-nav.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.2.2/masonry.pkgd.js"></script>
<script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
<script src="./js/function.js"></script>