<div class="sub-navigation" id="sub-navigation">
	<ul class="about-sub">
		<li><a href="ministers-staff.php" id="ministersStaff">Ministers, Staff and Collaborators</a></li>
		<li><a href="leading-with-care.php" id="leadingCare">Leading with Care</a></li>
		<li><a href="stephen-ministry.php" id="stephenMinistry">Stephen Ministry</a></li>
		<li><a href="the-chancel.php" id="theChancel">The Chancel</a></li>
		<li><a href="quiet-garden.php" id="quietGarden">The Quiet Garden</a></li>
		<li><a href="stained-glass.php" id="stainedGlass">Stained Glass</a></li>
		<li><a href="black-watch.php" id="blackWatch">The Black Watch</a></li>
		<li><a href="our-history.php" id="ourHistory">Our History</a></li>
		<!-- <li><a href="year-in-the-life.php" id="yearLife">A Year in the Life of...</a></li> -->
    </ul>
    <ul class="worship-sub">
    	<li><a href="news-worship.php" id="worshipNews">Worship News</a></li>
		<li><a href="sunday-worship.php" id="sundayWorship">Sunday Worship</a></li>
		<li><a href="recent-sermons.php" id="recentSermons">Recent Sermons</a></li>
		<li><a href="day-in-the-life.php" id="dayLife">Day in the Life</a></li>
		<li><a href="special-services.php" id="specialServices">Special Services</a></li>
		<!-- <li><a href="taize-services.php" id="taizeServices">Taiz&eacute; Services</a></li> -->
		<li><a href="bible-study.php" id="bibleStudy">Bible Study</a></li>
		<!-- <li><a href="prayer.php" id="prayer">Prayer</a></li> -->
    </ul>
    <ul class="music-sub">
    	<li><a href="news-music.php" id="musicNews">Music News</a></li>
		<li><a href="current-music.php" id="currentMusic">Current Music</a></li>
		<li><a href="the-choir.php" id="theChoir">The Choir</a></li>
		<li><a href="choir-schedule.php" id="choirSchedule">Choir Schedule</a></li>
		<li><a href="music-auditions.php" id="musicAuditions">Auditions</a></li>
		<li><a href="the-organ.php" id="theOrgan">The Organ</a></li>
		<li><a href="music-staff.php" id="musicStaff">Music Staff</a></li>
    </ul>
    <ul class="children-sub">
		<li><a href="news-youth.php" id="youthNews">Children/Youth News</a></li>
		<li><a href="church-school.php" id="churchSchool">Church School</a></li>
		<li><a href="youth-group.php" id="youthGroup">Youth Group</a></li>
    </ul>
    <ul class="outreach-sub">
		<li><a href="news-outreach.php" id="outreachNews">Outreach News</a></li>
		<li><a href="pwsd.php" id="pwsd">PWS &amp; D</a></li>
		<!-- <li><a href="outreach-music.php" id="outreachMusic">Music</a></li> -->
		<li><a href="tyndale.php" id="tyndale">Tyndale</a></li>
		<li><a href="hymn-singers.php" id="hymnSingers">Hymn Singers</a></li>
		<!-- <li><a href="summer-camp.php" id="summerCamp">Summer Camp</a></li> -->
		<li><a href="twinning.php" id="twinning">Twinning</a></li>
		<!-- <li><a href="siloe.php" id="siloe">Silo&eacute;</a></li> -->
		<li><a href="celebration-sunday.php" id="celebrationSunday">Celebration Sunday</a></li>
		<!-- <li><a href="partners.php" id="partners">Our Partners</a></li> -->
		<li><a href="getting-involved.php" id="gettingInvolved">Getting Involved</a></li>
    </ul>
    <ul class="news-sub">
    	<!-- <li><a href="news.php" id="newsSub">News</a></li> -->
    	<li><a href="events.php" id="eventsSub">Events</a></li>
		<li><a href="insideout-magazine.php" id="insideOut">InsideOut Magazine</a></li>
    </ul>
    <div class="contact-sub">
		<p>3415 Redpath Street,<br>
			Montr&eacute;al, Qu&eacute;bec<br>
			H3G 2G2<br>
			Canada<br>
			(514) 842-3431</p>
    </div>
</div>
